<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container mt-4">
        <h1>This data is Dynamic</h1>
        {% if Names %}
        <table class="table table-info">
            <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for names in Names %}
                    <tr>
                        <td>{{ names.Firstname }}</td>
                        <td>{{ names.Lastname }}</td>
                        <td>{{ names.Email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {%else%}
        <p>no records</p>
        {%endif%}
    </div>

    <!-- Bootstrap JS (optional, if you need JavaScript features) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-yGBjhQ7i7e8zQ7xBmNbTK9tNF2FMOpqF3qDwmK9fozj2I3ZPXXFOWPUf19Orsz9S" crossorigin="anonymous"></script>
</body>
</html>
